:root {
  --name-top: 200px;
  --list-top: 170px;
  --row-height: 250px;
  --open-right-top: -20px;
  --max-width: 500px;
}
body {
  background: #000;
  color: #fff;
}
a {
  border-bottom: 1px solid #1c826c;
  color: #1c826c;
  position: relative;
  text-decoration: none;
  top: 0;
  transition: all 0.5s;
}
a:hover,
a:focus {
  border-bottom-width: 2px;
  outline: none;
  padding-bottom: 2px;
  top: -3px;
}
.open-right {
  grid-row: span 1;
  grid-column: span 2;
  background-size: 49.5% auto;
}
.open-right ul {
  border-left: 0;
  border-top: 1px solid #cfcfcf;
  margin-top: var(--open-right-top);
  margin-left: 50.5%;
}
.open-right summary {
  top: 0;
  left: 40%;
}
.open-right summary ~ * {
  animation: fadeInRight 0.5s ease-in-out;
}
.open-bottom {
  background-size: auto var(--row-height);
}
.open-bottom ul {
  margin-left: 0;
  margin-top: var(--list-top);
  padding-top: 20px;
}
body {
  font-family: "Varela Round", "Nunito", "Calibri", sans-serif;
  max-width: var(--max-width);
  margin: 0 auto;
}
.gif {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px;
  width: 100%;
  text-align: center;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(var(--row-height), auto));
  grid-gap: 10px;
  margin: 10px auto;
  list-style: none;
  padding: 0 20px;
  transition: all 0.5s;
  animation: slide-in 1s ease-out 0.5s forwards;
}
@keyframes slide-in {
  from {
    transform: translateX(-60%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.boxes details {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.5s;
  transition: background-size 0s;
  transition: filter 1s;
}
.boxes details:hover,
.boxes details:focus {
  cursor: pointer;
  filter: grayscale(70%);
}
.boxes details[open] {
  background-position: top left;
  filter: grayscale(0%);
  grid-row: span 2;
  background-size: auto var(--row-height);
}
.boxes details[open] summary {
  font-size: 1.5em;
  transform: rotate(0deg);
  top: var(--name-top);
}
.boxes details[open] summary .realname {
  opacity: 1;
  max-height: 50px;
  max-width: 200px;
}
.boxes details[open] summary ~ * {
  animation: fadeIn 0.5s ease-in-out;
}
.boxes details[open] ul {
  margin-left: 0;
  margin-top: var(--list-top);
  padding-top: 20px;
}
.boxes details summary {
  background: black;
  border: 3px solid transparent;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 5px 10px;
  padding: 10px 20px;
  top: 0;
  left: 0;
  transform: rotate(-15deg);
  transition: all 0.5s;
  z-index: 100;
  position: relative;
  left: -17.5px;
}
.boxes details summary .realname {
  display: block;
  font-size: 14px;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  max-width: 0;
  transition: all 0.5s;
  transition-delay: 0.5s;
}
.boxes details summary::-webkit-details-marker {
  display: none;
}
.boxes details summary:first-of-type {
  list-style-type: none;
}
.boxes details summary:hover {
  cursor: pointer;
}
.boxes details summary:focus {
  border: 3px solid #1adbb1;
  outline: none;
}
.boxes details ul {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  border-top: 0;
  padding: 10px;
  list-style: none;
  transition: all 0.5s;
}

.boxes details ul li {
  padding: 10px 5px;
}
.boxes details ul li:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.boxes details ul li:nth-child(3) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.boxes details ul li:nth-child(4) {
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}
.boxes details ul li:nth-child(5) {
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
}
#bts {
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.5_GfdEYeb7L5PYGkCGQjbgHaE8&pid=Api&P=0&h=180");
}
#v {
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.XiQ1CigDBnHQdwogJZjCCAHaE8&pid=Api&P=0&h=180");
}
#stock {
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.iTMmUU_w6XjUWuJRlafAhgHaEo&pid=Api&P=0&h=180");
}
#present {
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.TtWfLr9TQPMoL5WLlk5PWwHaEK&pid=Api&P=0&h=180");
}
#jungkook {
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.HaVjoDm6TLLRXMN1apaF0AHaHa&pid=Api&P=0&h=180");
}
#meeting {
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.wk3BCrXR8iXcvD3AHb3FYgHaFO&pid=Api&P=0&h=180");
}
#letter {
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.yoxJveLm2We2QVrk0TBYKAAAAA&pid=Api&P=0&h=180");
}
#rm {
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.c9fePX-Zqq2hJRVqdRXZkgHaFA&pid=Api&P=0&h=180");
}
#spletter {
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.P3g23EL6oN__XSFbJPWKXAHaEK&pid=Api&P=0&h=180");
}
#links {
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.YPTV1xBX2aDeZ7tYf9IbDQHaEP&pid=Api&P=0&h=180");
}
#shareholder {
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.CQWohSVhVOPTuzAjcFlH_QHaEv&pid=Api&P=0&h=180");
}

@media (min-width: 600px) and (max-width: 900px) {
  :root {
    --open-right-top: -30px;
    --max-width: none;
  }
  .boxes {
    grid-template-columns: 1fr 1fr;
  }
  .boxes details:nth-child(odd)[open] {
    grid-row: span 1;
    grid-column: span 2;
    background-size: 49.5% auto;
  }
  .boxes details:nth-child(odd)[open] ul {
    border-left: 0;
    border-top: 1px solid #cfcfcf;
    margin-top: var(--open-right-top);
    margin-left: 50.5%;
  }
  .boxes details:nth-child(odd)[open] summary {
    top: 0;
    left: 40%;
  }
  .boxes details:nth-child(odd)[open] summary ~ * {
    animation: fadeInRight 0.5s ease-in-out;
  }
}
@media (min-width: 900px) {
  :root {
    --name-top: 150px;
    --list-top: 120px;
    --row-height: 200px;
    --max-width: 1200px;
  }
  .boxes {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .boxes details:nth-child(7)[open],
  .boxes details:nth-child(8)[open] {
    grid-row: span 1;
    grid-column: span 2;
    background-size: 49.5% auto;
  }
  .boxes details:nth-child(7)[open] ul,
  .boxes details:nth-child(8)[open] ul {
    border-left: 0;
    border-top: 1px solid #cfcfcf;
    margin-top: var(--open-right-top);
    margin-left: 50.5%;
  }
  .boxes details:nth-child(7)[open] summary,
  .boxes details:nth-child(8)[open] summary {
    top: 0;
    left: 40%;
  }
  .boxes details:nth-child(7)[open] summary ~ *,
  .boxes details:nth-child(8)[open] summary ~ * {
    animation: fadeInRight 0.5s ease-in-out;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    margin-left: -10px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    margin-left: 25%;
  }
  to {
    opacity: 1;
    margin-left: 50.5%;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .header h1 {
    font-size: 3rem;
  }

  .header h2 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1rem;
  }
}

header {
  background: #0e4211;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  text-decoration: none;
  border-radius: 0 0 20px 20px;
  animation: slide-down 1s ease-out;
}
/* Logo Animation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Header Animation */
@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Text Animation */
.fade-in {
  animation: fade-in 1.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header h1 {
  margin: 0;
  font-size: 1.8rem;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin-left: 1.5rem;
  font-size: 1.3rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 480px) {
  header {
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  header h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
  }

  nav ul li a {
    font-weight: normal;
  }
}

footer {
  background: rgb(56, 57, 56);
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  border-radius: 20px 20px 0 0;
}
footer a {
  color: #0073e6;
  text-decoration: none;
  font-size: 1.3rem;
}
footer a:hover {
  text-decoration: underline;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  footer p {
    font-size: 0.9rem;
  }

  footer .info-text {
    font-size: 0.8rem;
  }
}
